[project]
	description = Check_MK cookbook
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex Shadrin (alexshd)
[access "refs/for/refs/*"]
	read = group user/Alex Shadrin (alexshd)
	push = group user/Alex Shadrin (alexshd)
	label-Code-Review = -2..+2 group user/Alex Shadrin (alexshd)
	label-Verified = -1..+1 group user/Alex Shadrin (alexshd)
	rebase = group user/Alex Shadrin (alexshd)
	removeReviewer = group user/Alex Shadrin (alexshd)
	submit = group user/Alex Shadrin (alexshd)
[access "refs/heads/*"]
	read = group user/Alex Shadrin (alexshd)
	create = group user/Alex Shadrin (alexshd)
	push = +force group user/Alex Shadrin (alexshd)
	pushMerge = group user/Alex Shadrin (alexshd)
[access "refs/tags/*"]
	push = +force group user/Alex Shadrin (alexshd)
	pushTag = group user/Alex Shadrin (alexshd)
	pushSignedTag = group user/Alex Shadrin (alexshd)
